html {
  background-color: #FFE6EA;
  background-image: url("/C:/Users/leopo/Desktop/Anna-Maria%20Sachen/Projects/pexels-sam-willis-3934512.jpg");
}
body {
  padding: 0 30px 0 30px;
}

p {
  font-family: monospace;
  line-height: 1.6;
}
h1 {
  font-family: sans-serif;
  text-transform: capitalize;
  color: #7393B8;
  text-decoration: underline;
}
button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: #FFE14D;
}
.reallyredButton{
  background-color: red;
}
.darkgreenButton{
  background-color: orange;
}

table, th, td {
  font-family: monospace;
  border: 1px solid black;
}
th {
  background-color: #7393B8;
  color: white;
}
table {
  margin-top: 15px;
}
